* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  height: 600px;
  padding-left: 15px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgb(225, 225, 245);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: 1px solid rgb(215, 215, 245);
}

.text-container {
  margin-top: 300px;
  padding-left: 5px;
  padding-right: 5px;
}

.img {
  position: absolute;
  top: 40px;
  margin-left: 70px;
  padding: 4px 8px;
  color: chocolate;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  height: 350px;
  width: 350px;
}

.label {
  color: white;
  width: 45px;
  padding-left: 10px;
  padding-right: 45px;
  margin-top: 25px;
  background-color: brown;
  margin-left: 20px;
  border-radius: 5px;
}

.heading {
  margin-top: 10px;
  font-size: 21px;
  font-weight: 500;
  margin-left: 5px;
}

.desc {
  margin-left: 5px;
  margin-top: 10px;
}

.price {
  display: inline;
  margin-left: 5px;
  font-size: 18px;
  margin-top: 15px;
}

.rating {
  display: inline-flex;
  margin-top: 0%;
  margin-left: 250px;
  font-size: 20px;
  color: #ccc;
  color: yellow;
}

.btn {
  font-size: 18px;
  padding: 5px 30px;
  margin-left: 160px;
  margin-top: 5px;
  border: none;
  text-align: center;
  box-shadow: 0px 0px 5px 0.5px rgb(215, 215, 245);
}

.btn:hover {
  background-color: skyblue;
  color: orangered;
  transition: 0.5s ease-in;
  cursor: pointer;
  border-radius: 8px;
}
